  @import url(https://fonts.googleapis.com/css?family=Montserrat);

   a{
    text-decoration:none;
    text-align: center;
   }

  .cube {
    position: absolute;
    top: 172px;
    left: 43px;
    display: none;
  }
  /*#main {
  	float: left;
  }
  #side {
  	float: left;
  	padding-top: 120px;
  	height: 100%;
  }*/

  .tooltip{
    display: inline;
    position:relative;
  }

  .tooltip:hover:after{
    background: #DDD;
    background: rgba(0,0,0,0.6);
    border-radius: 5px;
    bottom:26px;
    color:#fff;
    content: attr(title);
    left: 20%
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
  }

  .tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%
    position: absolute;
    z-index: 99;
  }
  body {
    background-image:url("img/background.png");
    background-repeat:no-repeat;
    overflow:hidden;
    background-color:#d0dcd7;
    z-index: 100;
    
  }

  h2{
    font: 24px Montserrat;
    text-align:center;
    color:#111111;
  }

  h3{
    font: 16px Corbel;
    text-align: center;
    color:#111111;
    border-bottom: 1px dashed #999;
    display: inline;
  }

  p{
    font: 16px "Corbel";
    text-align:center;
    color:#111111;
    border-bottom: 1px dashed #999;
    display: inline;
  }

  p.subtitle {
    font: 14px "Corbel";
    text-align:left;
    color:#111111;
    border-bottom: 1px dashed #999;
    display: inline;
  }

  div {
    width:300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  div.food{
    border: 4px #333;
  }

  #arrowButton{
    background-color: #AAAAAA;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius:3px;
    color: #FAFAFA;
    font-family: Montserrat;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    border:solid;
    border-width:1px;
    border-color:#777;
  }

  #arrowButton:hover{
    background-color: #999999;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius:3px;
    color: #EEE;
    font-family: Montserrat;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    border:solid;
    border-width: 1px;
    border-color:#777;
  }

  #textInput{
    background-color: #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius:3px;
    color: #111111;
    font-family: Montserrat;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    border:solid;
    border-width:1px;
    border-color:#777;
  }

  .popup_block{
    display:none;
    background:#fff;
    padding:20px;
    border:1px solid #eee;  /* if you want a solid white pop-up, delete this */
    float:left;
    position:fixed;
    top:50%;left:50%;
    z-index: 99999;
    -webkit-box-shadow: 0px 0px 20px #000; /* delete for solid white */
    -moz-box-shadow: 0px 0px 20px #000; /* delete for solid white */
    box-shadow: 0px 0px 20px #000; /* delete for solid white */
}
 
*html #fade {position: absolute;}
*html .popup_block {position: absolute;}
#fade {
    display:none;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index:9999;
    background:#000; /* change to #fff for solid white */
    opacity:0.5; /* change to opacity:1; */
}

